.cib{
    font-size: 3vw;
    margin-top: -30%;
   
    color: #fff;
    font-weight: 500;
}

p{
    font-size: 1.5vw;
}

.fully{
    width: 100%;
}


.ml{
    margin-left: 5%;
}

.subhead{
   
    color: #fff;
}