.diplos{
   display: flex;
   justify-content:space-between ;
   width: 80%;
   margin-left: 10%; 
}

.bold{
    font-weight: 600;

}

.block{
    display: block;
    text-align: center;
}

.small{
    font-size: 0.9vw;
}


.welll{
    text-align: center;
    margin-top: 5%;
}