.jiraiya{
    padding-left: 5%;
}

.clock{
    width: 90%;
    font-size: 0.8vw;
} 

.viewm{
    background-color: transparent;
    border: transparent;
    padding-left: 5%;
    text-decoration: underline;
    margin-bottom: 3%;
}


.cardy{
    width:25.7%; 
    box-shadow: 20px 20px 20px  #c5c4c4 ;
    border-radius: 12px;
}


.radius{
    border-radius: 16px;
}


.position{
    text-align: center;
    margin-top: 5%;
}