.cardwhite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border: 2px solid #d7d4d4;
    border-radius: 12px;

}


.sort{
    display: flex;
    justify-content: space-between;
    width:70% ;
    align-items: center;
    margin-left: 10%;
    
}

.blueing{
    color: #1858A8;
}